<header class="header-desktop">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="header-wrap">
                <h2 class="page-title">{{ page_title|default('Agglo34') }}</h2>
                <div class="account-wrap">
                    <div class="account-item clearfix js-item-menu">
                        <div class="image">
                            <img src="{{ (user and user.image_url is defined and user.image_url is not null) ? user.image_url : '/images/img.png' }}" alt="{{ user ? user.name : 'User' }}" />
                        </div>
                        <div class="content">
                            <a class="js-acc-btn" href="#">{{ user ? user.name|lower : 'Compte' }}</a>
                        </div>
                        <div class="account-dropdown js-dropdown">
                            <div class="info clearfix">
                                <div class="image">
                                    <a href="#">
                                        <img src="{{ (user and user.image_url is defined and user.image_url is not null) ? user.image_url : '/images/img.png' }}" alt="{{ user ? user.name : 'User' }}" />
                                    </a>
                                </div>
                                <div class="content">
                                    <h5 class="name">
                                        <a href="#">{{ user ? user.name : 'Compte' }}</a>
                                    </h5>
                                    <span class="email">{{ user ? user.email : 'Compte@exemple.com' }}</span>
                                </div>
                            </div>
                            <div class="account-dropdown__body">
                                {% if user %}
                                <div class="account-dropdown__item">
                                    <a href="{{ path('settings') }}">
                                        <i class="zmdi zmdi-settings"></i>Paramètres</a>
                                </div>
                                {% if user.isAdmin %}
                                <div class="account-dropdown__item">
                                    <a href="{{ path('agents') }}">
                                        <i class="zmdi zmdi-accounts"></i>Gestion Utilisateurs</a>
                                </div>
                                {% endif %}
                                {% endif %}
                            </div>
                            <div class="account-dropdown__footer">
                                {% if user %}
                                <a href="{{ path('app_logout') }}">
                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                </a>
                                {% else %}
                                <a href="{{ path('app_login') }}">
                                    <i class="zmdi zmdi-power"></i>Login</a>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
