<li class="active has-sub">
    <a class="js-arrow" href="{{ path('dashboard') }}">
        <i class="fas fa-tachometer-alt"></i>Dashboard
    </a>
</li>
<li>
    <a href="{{ path('agents') }}">
        <i class="fas fa-chart-bar"></i>Agents
    </a>
</li>
<li>
    <a href="{{ path('park') }}">
        <i class="fas fa-table"></i>Parc Informatique</a>
</li>
<li>
    <a href="{{ path('calendar') }}">
        <i class="fas fa-calendar-alt"></i>Calendrier</a>
</li>
<li>
    <a href="{{ path('documents') }}">
        <i class="far fa-check-square"></i>Documents et données</a>
</li>
<li>
    <a href="{{ path('map') }}">
        <i class="fas fa-map-marker-alt"></i>Map</a>
</li>
<li>
    <a href="{{ path('settings') }}">
        <i class="fas fa-map-marker-alt"></i>Paramètres
    </a>
</li>
