<div class="col-lg-9">
    <h2 class="title-1 m-b-25">Commune : {{ name }}</h2>
    <div class="table-responsive table--no-card m-b-40">
        <table class="table table-borderless table-striped table-lending">
            <thead>
            <tr>
                <th>Numéro</th>
                <th>Type</th>
                <th>Débit Max</th>
                <th>Opérateur</th>
                <th>Date d'installation</th>
            </tr>
            </thead>
            <tbody>
            {% for ligne in lignes %}
                <tr>
                    <td>{{ ligne.numero }}</td>
                    <td>{{ ligne.type }}</td>
                    <td>{{ ligne.debitMax }} Mbps</td>
                    <td>{{ ligne.operateur }}</td>
                    <td>{{ ligne.dateInstallation }}</td>
                </tr>
            {% else %}
                <tr><td colspan="5">Aucune donnée disponible.</td></tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
