<!-- DATA -->
<div class="wrap">
    <div class="table-data__tool">
        <div class="table-data__tool-left">
            <div class="rs-select2--light rs-select2--md">
                <label for="municipalityFilter">Options</label>
                <select class="js-select2" id="municipalityFilter">
                    <option value="">All Municipalities</option>
                    {% for municipality in municipalities %}
                        <option value="{{ municipality.name }}">{{ municipality.name }}</option>
                    {% endfor %}
                </select>
                <div class="dropDownSelect2"></div>
            </div>
            <button class="au-btn-filter">
                <i class="zmdi zmdi-filter-list"></i>Filters
            </button>
        </div>
        <div class="table-data__tool-right">
            <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                <i class="zmdi zmdi-plus"></i>Add
            </button>
        </div>
    </div>
    <div class="table-responsive table-responsive-data2">
        <table id="phoneTable" class="table table-data2 display nowrap">
            <thead>
            <tr>
                <th>
                    <label class="au-checkbox">
                        <input type="checkbox">
                        <span class="au-checkmark"></span>
                    </label>
                </th>
                <th>COMMUNE</th>
                <th>LIEU</th>
                <th>EST GLOBAL</th>
                <th>SERVICE</th>
                <th>ATTRIBUTION (PRENOM & NOM)</th>
                <th>MARQUE DE TELEPHONE</th>
                <th>MODELE</th>
                <th>OPERATEUR</th>
                <th>TYPE DE LIGNE</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for municipality in municipalities %}
                {% for line in municipality.phoneLines %}
                    <tr class="tr-shadow clickable-row">
                        <td>
                            <label class="au-checkbox">
                                <input type="checkbox">
                                <span class="au-checkmark"></span>
                            </label>
                        </td>
                        <td>{{ municipality.name }}</td>
                        <td>{{ line.location ?: 'N/A' }}</td>
                        <td>
                            {% if line.isGlobal %}
                                <span class="badge badge-success"></span>
                            {% else %}
                                <span class="badge badge-secondary"></span>
                            {% endif %}
                        </td>
                        <td>{{ line.service ?: 'N/A' }}</td>
                        <td>{{ line.assignedTo ?: 'N/A' }}</td>
                        <td>{{ line.phoneBrand ?: 'N/A' }}</td>
                        <td>{{ line.model ?: 'N/A' }}</td>
                        <td>{{ line.operator ?: 'N/A' }}</td>
                        <td>{{ line.lineType ?: 'N/A' }}</td>
                        <td>
                            <div class="table-data-feature">
                                <button class="item edit-btn" title="Edit" data-id="{{ line.id }}">
                                    <i class="zmdi zmdi-edit"></i>
                                </button>
                                <button class="item delete-btn" title="Delete" data-id="{{ line.id }}">
                                    <i class="zmdi zmdi-delete"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr class="spacer"></tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- END DATA -->
