<!-- Modal Filtres Lignes -->
<div class="modal fade" id="lignesFiltersModal" tabindex="-1" role="dialog" aria-labelledby="lignesFiltersModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lignesFiltersModalLabel">
                    <i class="fa fa-filter"></i> Filtres des Lignes Téléphoniques
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="lignesFiltersForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="operatorFilter">Opérateur</label>
                                <select class="form-control" id="operatorFilter" name="operator">
                                    <option value="">Tous les opérateurs</option>
                                    {% set operators = {} %}
                                    {% for line in phoneLines %}
                                        {% if line.operator is not null and line.operator|lower not in operators|keys %}
                                            {% set operators = operators|merge({(line.operator|lower): line.operator}) %}
                                        {% endif %}
                                    {% endfor %}
                                    {% for key, operator in operators|sort %}
                                        <option value="{{ operator }}">{{ operator }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lineTypeFilter">Type de Ligne</label>
                                <select class="form-control" id="lineTypeFilter" name="lineType">
                                    <option value="">Tous les types</option>
                                    {% set lineTypes = {} %}
                                    {% for line in phoneLines %}
                                        {% if line.lineType is not null and line.lineType|lower not in lineTypes|keys %}
                                            {% set lineTypes = lineTypes|merge({(line.lineType|lower): line.lineType}) %}
                                        {% endif %}
                                    {% endfor %}
                                    {% for key, type in lineTypes|sort %}
                                        <option value="{{ type }}">{{ type }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="serviceFilter">Service</label>
                                <select class="form-control" id="serviceFilter" name="service">
                                    <option value="">Tous les services</option>
                                    {% set services = {} %}
                                    {% for line in phoneLines %}
                                        {% if line.service is not null and line.service|lower not in services|keys %}
                                            {% set services = services|merge({(line.service|lower): line.service}) %}
                                        {% endif %}
                                    {% endfor %}
                                    {% for key, service in services|sort %}
                                        <option value="{{ service }}">{{ service }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="municipalityFilter">Commune</label>
                                <select class="form-control" id="municipalityFilter" name="municipality">
                                    <option value="">Toutes les communes</option>
                                    {% for municipality in municipalities|sort((a, b) => a.name <=> b.name) %}
                                        <option value="{{ municipality.id }}">{{ municipality.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="locationFilter">Localisation</label>
                                <input type="text" class="form-control" id="locationFilter" name="location" placeholder="Filtrer par localisation">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="assignedToFilter">Attribué à</label>
                                <input type="text" class="form-control" id="assignedToFilter" name="assignedTo" placeholder="Filtrer par attribution">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="directLineFilter">Ligne directe</label>
                                <input type="text" class="form-control" id="directLineFilter" name="directLine" placeholder="Filtrer par ligne directe">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="shortNumberFilter">Numéro court</label>
                                <input type="text" class="form-control" id="shortNumberFilter" name="shortNumber" placeholder="Filtrer par numéro court">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary" id="applyFiltersBtn">
                    <i class="fa fa-filter"></i> Appliquer les Filtres
                </button>
                <button type="button" class="btn btn-warning" id="resetFiltersBtn">
                    <i class="fa fa-refresh"></i> Réinitialiser
                </button>
            </div>
        </div>
    </div>
</div>

