<div class="row m-t-25">
    <!-- Overview Items -->
    <!-- Bloc 1 -->
    <div class="col-sm-6 col-lg-3">
        <div class="overview-item overview-item--c1">
            <div class="overview__inner">
                <div class="overview-box clearfix">
                    <div class="icon"><i class="zmdi zmdi-account-o"></i></div>
                    <div class="text">
                        <h2>{{ agents is defined ? agents|length : 0 }}</h2>
                        <span>Nombre d'agents</span>
                    </div>
                </div>
                <div class="overview-chart">
                    <canvas id="widgetChart1"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Bloc 3 -->
    <div class="col-sm-6 col-lg-3">
        <div class="overview-item overview-item--c3">
            <div class="overview__inner">
                <div class="overview-box clearfix">
                    <div class="icon"><i class="zmdi zmdi-archive"></i></div>
                    <div class="text">
                        {% set boxCount = 0 %}
                        {% set activeBoxCount = 0 %}
                        {% if equipments is defined %}
                            {% for e in equipments %}
                                {% if e.getClass is defined and e.getClass == 'Box' %}
                                    {% set boxCount = boxCount + 1 %}
                                    {% if e.statut is defined and e.statut == 'Actif' %}
                                        {% set activeBoxCount = activeBoxCount + 1 %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <h2>{{ activeBoxCount }} / {{ boxCount }}</h2>
                        <span>Boxs actifs / total</span>
                    </div>
                </div>
                <div class="overview-chart">
                    <canvas id="widgetChart3"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Bloc 2 -->
    <div class="col-sm-6 col-lg-3">
        <div class="overview-item overview-item--c2">
            <div class="overview__inner">
                <div class="overview-box clearfix">
                    <div class="icon"><i class="zmdi zmdi-desktop-mac"></i></div>
                    <div class="text">
                        <h2>{{ parkStats.active_equipments|default(0) }} / {{ parkStats.total_equipments|default(0) }}</h2>
                        <span>Matériel actif / total</span>
                    </div>
                </div>
                <div class="overview-chart">
                    <canvas id="widgetChart2"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Bloc 4 -->
    <div class="col-sm-6 col-lg-3">
        <div class="overview-item overview-item--c4">
            <div class="overview__inner">
                <div class="overview-box clearfix">
                    <div class="icon"><i class="zmdi zmdi-phone"></i></div>
                    <div class="text">
                        <h2>{{ phoneLineStats.working_lines|default(0) }} / {{ phoneLineStats.total_lines|default(0) }}</h2>
                        <span>Lignes actives / total</span>
                    </div>
                </div>
                <div class="overview-chart">
                    <canvas id="widgetChart4"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
